.tocenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  display: flex;
  flex-direction: row;
}
.side-box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 2%;
  margin-left: 10%;
  margin-top: 200px;
}

.side-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.side-top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  background: linear-gradient(to right, #82308e, #323232);
}
h3 {
  font-size: xx-large;
}
.side-top-box > p {
  color: #fff;
  font-weight: 400;
}
.side-link {
  display: flex;
  flex-direction: column;
  text-align: left;

  text-decoration: none;
  list-style: none;
}

.side-link > li:hover .side-border-left {
  transition: 1s all;
  background-color: #82308e;
  animation: borderAnimation 1s;
}

.side-link > li:hover > a {
  color: #82308e;
}

.slide-link > li:hover .side-border-left {
}

.side-link > li {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
  border-left: 3px solid #eaeaea;
}

.side-link > li .side-border-left {
  position: absolute;
  top: 0;
  left: -3px;
  height: 0;
  width: 3px;
  background-color: #eaeaea;
}
.side-link > li > a {
  text-decoration: none;
}

@keyframes borderAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@media screen and (max-width: 650px) {
  .side-box {
    display: none;
  }
}
/* CSS for Student Section */
.student-section {
  text-align: center;
}

.student-section-heading {
  text-align: center;
  color: rgb(27, 27, 176);
  font-size: 26px;
  margin-top: 20px;
}

.student-box {
  border: 1px solid rgb(140, 140, 179);
  margin-top: 20px;
  padding: 20px;
  width: 99%;
  box-sizing: border-box;
  background: linear-gradient(to right, #82328e, #3d3a3a);
}

.student-box-heading {
  color: #eaeaea;
  text-align: center;
  font-size: 20px;
}

.student-link {
  display: block;
  margin-top: 10px;
  color: rgb(246, 245, 248);
  text-decoration: none;
  transition: color 0.3s ease;
}

.student-link:hover {
  color: rgb(0, 0, 0);
}

.contacts-heading {
  text-align: center;
  color: rgb(27, 27, 176);
  font-size: 24px;
  margin-top: 20px;
}

.contacts-table {
  margin-top: 20px;
  width: 99%;
  border-collapse: collapse;
}

.contacts-table th,
.contacts-table td {
  border: 1px solid rgb(52, 52, 59);
  padding: 10px;
}

.contacts-table th {
  background: linear-gradient(to right, #82328e, #3d3a3a);
  color: white;
}

.contacts-table td {
  background-color: #f2f2f2;
}
