.drs {
  align-items: center;
  padding-left: 24px;
}

.faculty-members {
  margin-top: 30px;
  display: flex;
  gap: 100px;
  width:100%;
}
.faculty-list {
  margin-top: -120px;
  padding: 20px;
  border: 1px solid rgb(73, 18, 105);
  border-radius: 4px;
}


.faculty-list h3 {
  margin-bottom: 10px;
  color:rgb(85, 18, 105);
}
.faculty-names{
  color:rgb(85, 18, 105);
}

.faculty-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.faculty-member {
  margin-top: 0cm;
  display: flex; 
  flex-direction: column;
  align-items:center;
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faculty-member .faculty-picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.faculty-member .faculty-details {
  text-align:left;
}

.faculty-member .faculty-details h4 {
  margin-bottom: 5px;
}

.faculty-member .faculty-details p {
  margin: 0;
}
.areafd {
  border: 1px solid rgb(85, 18, 105);
  width: fit-content;
  padding: 15px;
  background-color: rgb(85, 18, 105);
  border-radius: 20px;
  color: white;
  margin: 0 auto; /* Added margin property */
  display: flex; /* Added display property */
  justify-content: center; /* Added justify-content property */
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  height: fit-content;
  margin-top: -20px;
}
.Fdm{
  margin-top: 30px;
}

.info-table {
  border-collapse: collapse;
  width: 100%;
}

.info-table td {
  border: 1px solid lightgray;
  padding: 10px;
  height: 50px; /* Adjust the desired row height */
  vertical-align: middle;
}
.area{
  padding-left: 20px;
}
.area li{
  margin-bottom: 10px;
}

.question-label{
  font-weight: bold;
  color: rgb(167, 42, 173);
}
.area-list {
  list-style-type: disc;
  margin-left: 20px;
}

.area-list li {
  margin-bottom: 5px;
}

.drops {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
}

.drops .drop {
  margin: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.drops .drop .drop-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  transition: all 0.4s ease;
}

.drops .drop .drop-question::after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
}

.drops .drop .drop-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.drops .drop.open .drop-question {
  margin-bottom: 15px;
}

.drops .drop.open .drop-question::after {
  content: '';
}

.drops .drop.open .drop-answer {
  max-height: 1000px;
  opacity: 1;
}
.drop-answer {
  text-align: left;
}
.drop-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  color: rgb(167, 42, 173);
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.drop-button:hover {
  background-color: #fff;
  color: rgba(14, 21, 225, 0.737);
}

.drop-button:focus {
  outline: none;
}
.Aimli {
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  border: 2px solid #e7e2e7;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
}


