.main-box {
  display: flex;
  flex-direction: row;
}
.side-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  margin-left: 10%;
}

.side-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.side-top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  background: linear-gradient(to right, #82308e, #323232);
}
h3 {
  font-size: xx-large;
  text-align: center;
}
.side-top-box > p {
  color: #fff;
  font-weight: 400;
}
.side-link {
  display: flex;
  flex-direction: column;
  text-align: left;

  text-decoration: none;
  list-style: none;
}

.side-link > li:hover .side-border-left {
  transition: 1s all;
  background-color: #82308e;
  animation: borderAnimation 1s;
}

.side-link > li:hover > a {
  color: #82308e;
}

.slide-link > li:hover .side-border-left {
}

.side-link > li {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
  border-left: 3px solid #eaeaea;
}

.side-link > li .side-border-left {
  position: absolute;
  top: 0;
  left: -3px;
  height: 0;
  width: 3px;
  background-color: #eaeaea;
}
.side-link > li > a {
  text-decoration: none;
}

@keyframes borderAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@media screen and (max-width: 650px) {
  .side-box {
    display: none;
  }
}
.drops {
  align-items: center;
}

.faculty-members {
  display: flex;
  gap: 100px;
}

.faculty-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faculty-member .faculty-picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.faculty-member .faculty-details {
  text-align: left;
}

.faculty-member .faculty-details h4 {
  margin-bottom: 5px;
}

.faculty-member .faculty-details p {
  margin: 0;
}
