.containersy {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 540px;
  background: #f1f1f1;
  margin: 250px;
  margin-left: 50px;
  margin-right: 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 10px 10px 0px 0px;
}
h1 {
  padding: 3%;
}
.bloc-tabsx {
  display: flex;
}
.tabsx {
  padding: 25px;
  color: rgb(3, 3, 3);
  text-align: center;
  width: 50%;
  background: rgb(253, 253, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  outline: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  text-transform: uppercase;
}
.tabsx :hover {
  text-decoration-color: #0736d1;
}
.tabsx:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabsx {
  background: #072ff7;
  border-bottom: 1px solid transparent;
  text-align: center;
  background-image: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  border-radius: 10px 10px 0px 0px;
}

.active-tabsx::before {
  content: '';
  display: block;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100%+2px);
  height: 5px;
  background: rgb(61, 13, 235);
  border-radius: 10px;
}

button {
  border: none;
}
.content-tabsx {
  flex-grow: 1;
}
.contentx {
  background: white;
  padding: 10px;
  display: none;
  align-items: center;
}
.active-contentx {
  display: block;
  align-items: center;
  justify-content: center;
}
.containerxy {
  display: flex;
  justify-content: center;
  padding: 0px;
  border-radius: 10px;
  background-color: #f0f0f0;
  align-items: center;
  margin: auto;
}

.boxx {
  width: 350px;
  height: 300px;
  border: 1px solid #000;
  margin: 50px;
  margin-top: 100px;
  border-radius: 10px;
}

.columnx {
  border-radius: 10px 10px 0px 0px;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  background-image: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
}

.dropdown-containerx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-bottom: 10px;
}

.dropdownx {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  margin: 20px;
  border-radius: 7px;
  background-color: #2c2f48;
  color: #fff;
}

.buttonx {
  background-image: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
  overflow: hidden;
  transition: 0.4s all;
  margin-left: 75px;
}
.button:hover {
  background-color: #0c0fa7;
  box-shadow: 0px 2px 10px 5px rgb(32, 32, 32);
  color: #000;
}
.button:focus {
  outline: none;
}

.main-box {
  display: flex;
  flex-direction: row;
}
.side-boxxx {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 2%;
  margin-left: 10%;
  margin-top: 200px;
}

.side-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.side-top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  background: linear-gradient(to right, #82308e, #323232);
}
h3 {
  font-size: xx-large;
}
.side-top-box > p {
  color: #fff;
  font-weight: 400;
}
.side-link {
  display: flex;
  flex-direction: column;
  text-align: left;

  text-decoration: none;
  list-style: none;
}

.side-link > li:hover .side-border-left {
  transition: 1s all;
  background-color: #82308e;
  animation: borderAnimation 1s;
}

.side-link > li:hover > a {
  color: #82308e;
}

.slide-link > li:hover .side-border-left {
}

.side-link > li {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
  border-left: 3px solid #eaeaea;
}

.side-link > li .side-border-left {
  position: absolute;
  top: 0;
  left: -3px;
  height: 0;
  width: 3px;
  background-color: #eaeaea;
}
.side-link > li > a {
  text-decoration: none;
}

@keyframes borderAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@media screen and (max-width: 800px) {
  .side-boxxx {
    display: none;
  }
  .to-centerx {
    width: 750px;
  }
}
@media screen and (max-width: 450px) {
  .to-centerx {
    width: 300px;
  }
  .main-box {
    width: 300px;
  }
  .containersy {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 350px;
    height: 490px;
    background: #f1f1f1;
    margin-top: 150px;
    margin-left: 10px;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 10px 10px 0px 0px;
  }
  .boxx {
    width: 220px;
    height: 220px;
    border: 1px solid #000;
    margin: 10px;
    margin-top: 30px;
    border-radius: 10px;
    height: 350px;
  }
  .containerxy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    border-radius: 10px;
    background-color: #f0f0f0;
    align-items: center;
    height: 400px;
  }
  .dropdown-containerx {
    flex-direction: column;
    padding: 0px;
    gap: 0px;
  }
  .buttonx {
    margin-left: 40px;
  }
}
@media screen and(max-width:400px) {
  .to-centerx {
    margin-left: 0px;
  }
  .containersy {
    margin-left: 5px;
    padding-left: 0;
  }
  .bloc-tabsx {
    margin-left: 0px;
  }
  .content-tabsx {
    margin-left: 0px;
  }
}
