.first {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-bottom: 4%;
  align-items: stretch;
  margin-left: 20px;
  margin-top: 4%;
}
.newstable {
  /* border-collapse: collapse; */
  width: 100%;
}
.newstable table tr p {
  align-items: center;
}
a:link {
  text-decoration: none;
  padding-top: 0.5rem;
}
.heading {
  display: flex;
  flex-direction: column;
}
h3 {
  margin-bottom: 2vh;
  color: #82308e;
}
.newscontent p {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.img {
  margin-left: 5%;
}
.newstable tr a {
  color: black;
}

.news {
  border: 0px solid black;
  display: flex;
  max-width: 475px;
  flex-wrap: wrap;
  padding: 4px;
  text-align: left;
}
.newstable tr {
  border: solid;
  border-width: 0px 0;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 0.5rem;
}
.newstable tr:nth-child(even) {
  background-color: #82308e;
  color: white;
}
.newstable tr:nth-child(even) {
  color: white;
}
.newstable tr:nth-child(even) a {
  color: white;
}
.newstable tr:nth-child(odd) a {
  color: black;
}
@media screen and (max-width: 800px) {
  div > .first {
    flex-direction: column;
    align-items: center;
  }
}