.first {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  margin: auto;
  /* justify-content: center; */
  margin-bottom: 4%;
  margin-top: 2%;
  width: 100%;
}
a:link {
  text-decoration: none;
  padding-top: 0.5rem;
}
.heading {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 90%;
}
.hen {
  margin-bottom: 2vh;
  color: #82308e;
}
.news {
  border: 0px solid black;
  display: flex;
  max-width: 550px;
  flex-wrap: wrap;
  padding: 4px;
  text-align: left;
}
.main-news-box {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
}
.inside-news-box {
  /* border: 2px solid black; */
  width: 100%;
  margin: 0.5rem;
  border-radius: 4px;
  box-shadow: 3px 3px 3px 3px #c4bfbf;
}
.inside-news-box:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
/* .inside-news-box:hover{
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
} */
.for-border {
  margin-left: 10px;
  padding: 15px;
  border-left: 5px solid #82308e;
  margin-top: 10px;
  margin-bottom: 10px;
}
.inside-news-box:nth-child(2n) {
  background-color: rgb(103, 88, 231);
  color: white;
}
.newsdes {
  padding: 5px;
}
.alink {
  padding: 5px;
}
.inside-news-box:nth-child(2n) a {
  color: white;
}
/* .inside-news-box:nth-child(2n) a:hover{
  color: ;
} */
.inside-news-box:nth-child(2n + 1) a {
  color: black;
}
@media screen and (max-width: 800px) {
  div > .first {
    flex-direction: column;
    align-items: center;
  }
}