.main-box {
  display: flex;
  flex-direction: row;
}
.side-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  margin-left: 10%;
}

.side-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.side-top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  background: linear-gradient(to right, #82308e, #323232);
}
h3 {
  font-size: xx-large;
  margin-top: 3rem;
}
.side-top-box > p {
  color: #fff;
  font-weight: 400;
}
.side-border-left > p {
  text-align: left;
  align-content: center;
  align-items: center;
}
.side-link {
  display: flex;
  flex-direction: column;
  text-align: left;

  text-decoration: none;
  list-style: none;
}

.side-link > li:hover .side-border-left {
  transition: 1s all;
  background-color: #82308e;
  animation: borderAnimation 1s;
}

.side-link > li:hover > a {
  color: #82308e;
}

.slide-link > li:hover .side-border-left {
}

.side-link > li {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
  border-left: 3px solid #eaeaea;
}

.side-link > li .side-border-left {
  position: absolute;
  top: 0;
  left: -3px;
  height: 0;
  width: 3px;
  background-color: #eaeaea;
}
.side-link > li > a {
  text-decoration: none;
  text-align: left;
}
.Aiml {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.prof {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.content {
  max-width: 125px;
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
  padding: 2px;
  margin-top: 1.5rem;
}
.content > a {
  padding: 7px;
}
@keyframes borderAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@media screen and (max-width: 650px) {
  .side-box {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .prof {
    flex-basis: 2;
  }
}
