.main-box {
  display: flex;
  flex-direction: row;
}
.side-box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 2%;
  margin-left: 10%;
  margin-top: 200px;
}

.side-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.side-top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  background: linear-gradient(to right, #82308e, #323232);
}
.hea {
  font-size: xx-large;
  margin-top: 3rem;
  color: #82308e;
}
.side-top-box > p {
  color: #fff;
  font-weight: 400;
}
.side-border-left > p {
  text-align: left;
  align-content: center;
  align-items: center;
}
.side-link {
  display: flex;
  flex-direction: column;
  text-align: left;

  text-decoration: none;
  list-style: none;
}

.side-link > li:hover .side-border-left {
  transition: 1s all;
  background-color: #82308e;
  animation: borderAnimation 1s;
}

.side-link > li:hover > a {
  color: #82308e;
}

.slide-link > li:hover .side-border-left {
}

.side-link > li {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
  border-left: 3px solid #eaeaea;
}

.side-link > li .side-border-left {
  position: absolute;
  top: 0;
  left: -3px;
  height: 0;
  width: 3px;
  background-color: #eaeaea;
}
.side-link > li > a {
  text-decoration: none;
  text-align: left;
}
.Aiml {
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  border: 2px solid #82308e;
  margin: 30px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.areacon {
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  box-shadow: rgb(44, 62, 80) 0px 0px 15px 0px inset;
  margin: 5px;
  margin-top: 10px;
  padding: 10px;
  text-align: justify;
}
.areahead {
  border: 2px solid rgb(42, 39, 167);
  width: fit-content;
  padding: 10px;
  background-color: rgb(42, 39, 167);
  border-radius: 20px;
  color: white;
  margin-top: -42px;
  margin-left: 10px;
}
.prof {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  padding: 1rem;
  padding-top: 0.7rem;
  gap: 1.2rem;
}
.contentarea {
  max-width: 125px;
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
  padding: 2px;
  margin-top: 1rem;
}
.content > a {
  padding: 7px;
}
.profname {
  margin-left: 0.3rem;
}
@keyframes borderAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@media screen and (max-width: 650px) {
  .side-box {
    display: none;
  }
  .Aiml {
    margin: 5px;
  }
}
@media screen and (max-width: 800px) {
  .prof {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 650px) {
  .prof {
    flex-basis: 2;
  }
}
@media screen and (max-width: 450px) {
  .prof {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Aiml {
    margin-top: 30px;
    /* margin-left: 30px; */
    width: 300px;
  }
  .main-box {
    justify-content: center;
    align-items: center;
  }
  .areasa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 400px) {
  .Aiml {
    margin-top: 30px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 450px) and (max-width: 650px) {
  .Aiml {
    margin-top: 50px;
  }
}
