

.drops {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
}

.drops .drop {
  margin: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.drops .drop .drop-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  transition: all 0.4s ease;
}

.drops .drop .drop-question::after {
  content: "v";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
}

.drops .drop .drop-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.drops .drop.open .drop-question {
  margin-bottom: 15px;
}

.drops .drop.open .drop-question::after {
  content: "^";
}

.drops .drop.open .drop-answer {
  max-height: 1000px;
  opacity: 1;
}
.drop-answer{
  text-align: left;
}