.main-box {
  display: flex;
  flex-direction: row;
}
.side-box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 2%;
  margin-left: 10%;
  margin-top: 200px;
}

.side-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.side-top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  background: linear-gradient(to right, #82308e, #323232);
}
.he {
  font-size: xx-large;
  color: #82308e;
  margin-top: 30px;
}
.side-top-box > p {
  color: #fff;
  font-weight: 400;
}
.side-link {
  display: flex;
  flex-direction: column;
  text-align: left;

  text-decoration: none;
  list-style: none;
}

.side-link > li:hover .side-border-left {
  transition: 1s all;
  background-color: #82308e;
  animation: borderAnimation 1s;
}

.side-link > li:hover > a {
  color: #82308e;
}
.side-link > li {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
  border-left: 3px solid #eaeaea;
}

.side-link > li .side-border-left {
  position: absolute;
  top: 0;
  left: -3px;
  height: 0;
  width: 3px;
  background-color: #eaeaea;
}
.side-link > li > a {
  text-decoration: none;
}
#sel {
  width: 200px;
}
.selectyear {
  padding: 10px;
}
.selectyr {
  padding: 20px;
}
.syear h2 {
  padding-top: 30px;
}
.publication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.publishtable {
  padding: 15px;
  max-width: 90%;
}
.publishtable thead {
  background-color: #82308e;
  color: white;
}
.wid {
  width: 10px;
}
.publishtable a {
  color: #323232;
}
.publishtable a:hover {
  color: #82308e;
}
.pubtable {
  padding: 10px;
  width: fit-content;
}
.publishtable {
  margin-top: 20px;
  width: 99%;
  border-collapse: collapse;
}
.publishtable th,
.publishtable td {
  border: 1px solid rgb(52, 52, 59);
  padding: 5px;
}
.maint {
  display: flex;
  flex-direction: column;
}
.publishtable {
  margin-left: 2px;
  margin-right: 5px;
}
@keyframes borderAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@media screen and (max-width: 650px) {
  .side-box {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .pubtable {
    display: flex;
    flex-wrap: wrap;
  }
  .pubtable table {
    width: 350px;
  }
  .pwid {
    width: 40px;
  }
}
