@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.containert {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.formt {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-formt {
  background: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  position: relative;
}

.circlet {
  border-radius: 50%;
  background: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-formt:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.titlet {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-containert {
  position: relative;
  margin: 1rem 0;
}

.inputt {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.inputt {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-containert label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-containert.textareat label {
  top: 1rem;
  transform: translateY(0);
}

.btnt {
  padding: 0.6rem 1.3rem;
  background: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  border: 2px solid #fff;
  font-size: 0.95rem;
  color: #fff;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btnt:hover {
  background-color: transparent;
  color: rgb(8, 8, 8);
}

.input-containert span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-containert span:before,
.input-containert span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  top: 50%;
  transform: translateY(-50%);
}

.input-containert span:before {
  left: 50%;
}

.input-containert span:after {
  right: 50%;
}

.input-containert.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-containert.focus span:before,
.input-containert.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-infot {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-infot .titlet {
  color: rgb(42, 39, 167);
  font-style: bold;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.informationt {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icont {
  width: 28px;
  margin-right: 0.7rem;
}

.social-mediat {
  padding: 2rem 0 0 0;
}

.social-mediat p {
  color: #333;
}

.social-iconst {
  display: flex;
  margin-top: 0.5rem;
}

.social-iconst a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
  justify-content: center;
}

.social-iconst a:hover {
  transform: scale(1.05);
}

.contact-infot:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid rgb(42, 39, 167);
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circlet {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circlet:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.squaret {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .formt {
    grid-template-columns: 1fr;
  }

  .contact-infot:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-formt:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .squaret {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circlet {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .textt {
    margin: 1rem 0 1.5rem 0;
  }

  .social-mediat {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .containert {
    padding: 1.5rem;
  }

  .contact-infot:before {
    display: none;
  }

  .squaret,
  .big-circlet {
    display: none;
  }

  form,
  .contact-infot {
    padding: 1.7rem 1.6rem;
  }

  .textt,
  .informationt,
  .social-mediat p {
    font-size: 0.8rem;
  }

  .titlet {
    font-size: 1.15rem;
  }

  .social-iconst a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icont {
    width: 23px;
  }

  .inputt {
    padding: 0.45rem 1.2rem;
  }

  .btnt {
    padding: 0.45rem 1.2rem;
  }
  @media (max-width: 2560px) {
    .containert {
      position: relative;
      width: 100%;
      min-height: 100vh;
      padding: 10rem;
      background-color: #fafafa;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
    }

    .formt {
      max-width: 2560px;
      padding: 10rem;
    }

    .contact-formt {
      padding: 6rem;
    }

    .circlet {
      width: 260px;
      height: 260px;
      top: 260px;
      right: -80px;
    }

    .circle.one {
      width: 180px;
      height: 180px;
      top: 120px;
      right: -110px;
    }

    .circle.two {
      width: 120px;
      height: 120px;
      top: 40px;
      right: 50px;
    }

    .contact-formt:before {
      width: 40px;
      height: 40px;
      top: 100px;
      left: -20px;
    }

    form {
      padding: 6rem 5.8rem;
    }

    .titlet {
      font-size: 3rem;
    }

    .inputt {
      padding: 1.2rem 2.5rem;
    }

    textarea.inputt {
      padding: 1.6rem 2.5rem;
    }

    .input-containert label {
      font-size: 1.8rem;
    }

    .btnt {
      padding: 1.6rem 3.2rem;
      font-size: 2.5rem;
    }

    .contact-infot {
      padding: 6rem 5.8rem;
    }

    .contact-infot .titlet {
      font-size: 3rem;
    }

    .informationt {
      margin: 1.4rem 0;
      font-size: 2.5rem;
    }

    .icont {
      width: 56px;
      margin-right: 1.4rem;
    }

    .social-mediat {
      padding: 4rem 0 0 0;
    }

    .social-mediat p {
      font-size: 2.5rem;
    }

    .social-iconst a {
      width: 70px;
      height: 70px;
      line-height: 70px;
      margin-right: 1rem;
    }
  }
}
