.tocenter{
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-box {
  display: flex;
  flex-direction: row;
}
.side-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  margin-left: 10%;
}


.side-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.side-top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  background: linear-gradient(to right, #82308e, #323232);
}
h3 {
  font-size: xx-large;
}
.side-top-box > p {
  color: #fff;
  font-weight: 400;
}
.side-link {
  display: flex;
  flex-direction: column;
  text-align: left;

  text-decoration: none;
  list-style: none;
}

.side-link > li:hover .side-border-left {
  transition: 1s all;
  background-color: #82308e;
  animation: borderAnimation 1s;
}

.side-link > li:hover > a {
  color: #82308e;
}

.slide-link > li:hover .side-border-left {
}

.side-link > li {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
  border-left: 3px solid #eaeaea;
}

.side-link > li .side-border-left {
  position: absolute;
  top: 0;
  left: -3px;
  height: 0;
  width: 3px;
  background-color: #eaeaea;
}
.side-link > li > a {
  text-decoration: none;
}

@keyframes borderAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@media screen and (max-width: 650px) {
  .side-box {
    display: none;
  }
}

.gallary {
  display: flex;
  align-items: center;
  padding-bottom: 10%;
  
}


.container1 {
  align-items: center;
}

.container2 {
  display: flex;
  align-items: center!important;
  justify-content: center!important;
}
@media only screen and (max-width: 600px) {
  .gallary {
    height: 320px !important;
    width: 350px !important;
    margin: 0% !important;
    align-items: center;
  }
  .hod {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .gallary {
    display: flex;
    align-items: center;
    height: 220px !important;
    width: 700px !important;
  }
}
@media only screen and (min-width: 992px) {
  .gallary {
    margin-left: 10%;
    align-items: center;
    height: 700px !important;
    width: 800px !important;
  }
}