.eventList ul {
  list-style: none;
}

.eventList li {
  color: #fce4ec;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.eventList li.active {
  background-color: rgb(42, 39, 167);
  color: #fff;
}

.student-box1 {
  border: 1px solid rgb(140, 140, 179);
  margin-top: 20px;
  padding: 20px;
  width: 99%;
  box-sizing: border-box;
  background: linear-gradient(to right, #82328e, #3d3a3a);
}

.student-box-heading1 {
  padding: 3%;
  color: #eaeaea;
  text-align: center;
  font-size: 20px;
}

.galleryg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

.galleryWrap {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
}

.galleryWrap .single {
  width: 300px;
  cursor: pointer;
}

.galleryWrap .single img {
  max-width: 100%;
}

.galleryWrap .single img:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .galleryWrap .single {
    width: 200px; /* Adjust the width for smaller screens */
  }
}

@media (max-width: 480px) {
  .galleryWrap .single {
    width: 150px; /* Adjust the width for even smaller screens */
  }
}
.sliderWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sliderWrap .btnClose,
.sliderWrap .btnPrev,
.sliderWrap .btnNext {
  position: fixed;
  cursor: pointer;
  opacity: 0.6;
  color: #fff;
  z-index: 9999;
}

.btnNext:hover,
.btnPrev:hover,
.btnClose:hover {
  opacity: 1;
}

.sliderWrap .btnClose {
  top: 40px;
  right: 40px;
}

.sliderWrap .btnPrev {
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.sliderWrap .btnNext {
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

.fullScreenImage {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullScreenImage img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.button1 {
  margin: 1rem;
  font-family: var(--font-sans);
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-5);
  color: white;
  border-radius: 5px;
  background-image: -moz-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  background-image: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  background-image: -ms-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  background-image: linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  border: 0;
  padding: var(--size-4) var(--size-8);
  transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
  transition: transform 0.1s;
  position: relative;
  box-sizing: border-box;
}

.button1:hover {
  --y: -10;
  --scale: 1.1;
  --border-scale: 1;
}

.button1:active {
  --y: 5%;
  --scale: 0.9;
  --border-scale: 0.9, 0.8;
}

.button1:before {
  content: '';
  position: absolute;
  inset: calc(var(--size-3) * -1);
  border: var(--size-2) solid blue; /* Use "blue" as the border color */
  transform: scale(var(--border-scale, 0));
  transition: transform 0.125s;

  --angle-one: 105deg;
  --angle-two: 290deg;
  --spread-one: 30deg;
  --spread-two: 40deg;
  --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
  --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
  --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
  --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));

  mask: conic-gradient(
    transparent 0 var(--start-one),
    white var(--start-one) var(--end-one),
    transparent var(--end-one) var(--start-two),
    white var(--start-two) var(--end-two),
    transparent var(--end-two)
  );

  z-index: -1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.loading span {
  font-size: 1.2rem;
  color: #333;
}
