.drops {
  margin-top: 20px;
  text-align: center;
}

.drops h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title-section span {
  width: 60px;
  height: 3px;
  background-color: #333;
}

.r1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.c1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.c1 {
  width: 100%;
}
.p1 {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 10px;
}
.p2 {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 10px;
}
.image-right {
  float: right;
  margin-left: 5px;
  margin-bottom: 20px;
}

.image-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}
