h3 {
  /* font-size: 24px; */
  font-weight: bold;
  margin-bottom: 15px;
  font-size: xx-large;
  background-color: rgb(85, 18, 105);
  /* color:rgb(85, 18, 105); */
  color: white;
  border-radius: 5px;
}
.fas {
  padding-left: 2px;
}
.mess {
  padding-top: 16px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 1.5;
}
.pic {
  justify-content: center;
  margin: 0px;
  padding-left: 240px;
  padding-right: 240px;
}
.ab1 {
  padding-top: 8px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 1.5;
}
.ab {
  padding-top: 8px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 1.5;
}
.flexi {
  padding-bottom: 20px;
}
.mv1 {
  margin-top: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  font-weight: bold;
  align-items: center;
}
.mv {
  margin-top: 10px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  font-weight: bold;
  align-items: center;
}
.flexw1 {
  padding: 10px 10px 10px 10px;
}
.dro {
  margin-top: 5px;
  text-align: center;
}
/* Laptop */
@media screen and (min-width: 1024px) {
  /* Add your styles for laptop here */
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Add your styles for tablet here */
  .flex-colw {
    flex-direction: column !important;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  /* Add your styles for mobile here */
  .flex-colw {
    flex-direction: column !important;
  }
}
.hodimg {
  width: 100%;
  height: auto;
  object-fit: cover;
}
