.drops {
  margin-top: 20px;
  text-align: center;
}

.drops h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #381fc3;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title-section span {
  width: 60px;
  height: 3px;
  background-color: rgb(150, 16, 16);
}

.r1 {
  display: flex;
  justify-content: center;
}

.c1 {
  width: 80%;
}

.p2 {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
