/* Container styles */
.containerf {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 0;
}

/* Row styles */
.rowf {
  display: flex;
  flex-wrap: wrap;
}

/* Column 1 styles */
.column-1 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

/* Column 2 styles */
.column-2 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

/* Text color for "Developed By ACE Web Team" */
.column-1 span {
  color: rgba(42, 39, 167, 0.4);
}

/* Menu styles */
.menuf ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuf li {
  display: inline-block;
  margin-right: 10px;
}

.menuf a {
  color: #000000;
  text-decoration: none;
}



.btnp {
  border: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  border-radius: 15%;
  background: #e3edf7;
  height: 45px;
  width: 45px;
  box-shadow: 6px 6px 6px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  transition: transform 0.5s;
  margin: 0 10px;
}
.btnp a {
  text-decoration: none;
  color: #545252;
  font-size: 30px;
  transition: transform 0.5s;
}
.btnp:hover {
  transform: translateY(2px);
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
.btnp:hover a {
  transform: scale(0.9);
}
.btnp:hover .fa-facebook {
  color: #3b5998;
}
.btnp:hover .fa-youtube {
  color: #c4302b;
}
.btnp:hover .fa-linkedin {
  color: #3b5998;

}
.btnp:hover .fa-twitter {
  color: #00acee;
}

.connect-section {
  padding: 2rem 0 0 0;
}

.connect-text {
  padding-bottom: 2%;
  color: white;
}

.social-icons-wrapper {
  display: flex;
  margin-top: 0.5rem;
}

.social-link {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
  justify-content: center;
}

.social-link:hover {
  transform: scale(1.05);
}

.temp {
  transform: scale(1.2);
  padding-bottom: 2%;
}
.glance {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
}
.animate-border1 {
  position: relative;
  display: block;
  width: 115px;
  height: 2px;
  background: lightsteelblue;
}

.footer-widget p {
  margin-bottom: 27px;
}
.p1 {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: white;
  line-height: 28px;
}
.img-fluid {
  max-width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 2px;
  background: lightsteelblue;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 10%;
  }
}

@keyframes primary-long {
  0% {
    width: 80%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.dk-footer {
  padding: 75px 0 0;
  background-color: #003366;

  position: relative;
  z-index: 2;
}
.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 30px;
  /* padding-left: 80px; */
  padding: 20px;
}

.dk-footer .contact-us.contact-us-last {
  margin-left: -80px;
}
.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color: #007bff;
}

.dk-footer-box-info {
  top: -122px;

  padding: 40px;
  z-index: 2;
}
.dk-footer-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px;
}
.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dk-footer-box-info .footer-social-link li {
  display: inline-block;
}

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-awarad p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 15px;
}

.footer-left-widget {
  /* padding-left: 80px; */
  padding: 20px;
}

.footer-widget .section-heading {
  margin-bottom: 35px;
}

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-widget li {
  margin-bottom: 18px;
}

.footer-widget p {
  margin-bottom: 27px;
}

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-widget a:hover {
  color: #007bff;
}

.footer-widget:after {
  content: '';
  display: block;
  clear: both;
}

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-icon {
  position: absolute;
}
.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #007bff;
}

.contact-info {
  color: #fff;
}
.contact-info h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}
.contact-info p {
  padding: 3%;
}
.copyright {
  padding: 10px 0;
  margin-top: 55px;
  background-color: #202020;
}
.copyright span,
.copyright a {
  color: #878787;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.copyright a:hover {
  color: #007bff;
}

.copyright-menu ul {
  text-align: right;
  margin: 0;
}

.copyright-menu li {
  display: inline-block;
  padding-left: 20px;
}

.back-to-top {
  position: relative;
  z-index: 2;
}
.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #fa6742;
  border-color: #fa6742;
}
.row1 {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.two-column {
  display: flex;
  flex-direction: row;
}
.col-md-121 col-lg-41 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-wrapper {
  padding: 0.5rem;
}
@media screen and (max-width: 1024px) {
  .row1 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {
  .row1 {
    display: flex;
    flex-direction: column;
  }
  .two-column {
    display: flex;
    flex-direction: column;
  }
  .player-wrapper iframe {
    width: min-content;
  }
}

.contact-info-item {
  display: flex;
  align-items: center;
  color: white;
}

.contact-info-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.iconf {
  margin-right: 0.5rem;
}
