.scrolled .logo img {
  transform: scale(0.7);
}
.scrolled1 {
  padding: 0% !important;
}

.head-box {
  margin: 0%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#google_translate_element {
  position: absolute;
  top: 10px;
  right: 30px; /* Adjust the value according to your desired spacing */
}

#header {
  z-index: 1000;
  background: #fff
    url('https://i.postimg.cc/wvn81B0h/FINAL-1-removebg-preview.png') no-repeat
    60% bottom;
}
@media (max-width: 767px) {
  .header {
    display: none;
  }

  #header {
    z-index: 1000;
    background: #fff url('https://i.postimg.cc/DyrJQrHD/College-F1-1.png')
      no-repeat 60% bottom;
  }
  .visitor-counter {
    display: none;
  }
  #google_translate_element {
    position: absolute;
    right: 0;
    top: 25px;
  }
}

.quick {
  padding-top: 5%;
  font-size: 20px;
  color: white;
}
.quick:hover {
  color: #d6b97f;
}

.animenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.animenu__nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.animenu__nav li:hover .animenu_nav_child {
  display: block;
}

.menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  cursor: pointer;
  padding: 10px;
}

.open .menu-toggle {
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .animenu__nav > li {
    width: 100% !important;
    text-align: center;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .mobile-line-break {
    white-space: nowrap;
  }

  .animenu__nav {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .open .animenu__nav {
    display: flex;
    flex-direction: column;
  }

  .animenu_nav_child {
    position: static;
    display: none;
  }
}

@media screen and (max-width: 600px) {
  nav li {
    flex-basis: 50%; /* Display two items per row */
  }
}

@media screen and (max-width: 400px) {
  nav li {
    flex-basis: 100%; /* Display one item per row */
  }
}

.logo2 {
  width: 100% !important;
  height: auto;
}

.head-box {
  background: #fff;
}
* {
  font-family: Arial, 'times new roman', 'Microsoft Yahei', Helvetica,
    sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: top;
}
div {
  display: block;
}
#header {
  z-index: 1000;
  padding: 1.25rem 0;
  background: #fff url(../images/top-bg02.png) no-repeat 60% bottom;
}
header {
  display: block;
}
.head-box .wrap {
  position: relative;
  z-index: 2;
}
.wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.clear {
  zoom: 1;
}
#header .logo {
  width: 35.5%;
  position: relative;
}
.fl {
  float: left;
}
#header .logo a {
  display: block;
}
#header .logo img {
  width: 100%;
}
img {
  border: 0px;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
#header .logo a {
  display: block;
}
.clear:after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

@charset "utf-8";
html {
  overflow-x: hidden;
}
@media (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1400px) and (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 640px) and (max-width: 1399px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 471px) and (max-width: 639px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 320px) and (max-width: 470px) {
  html {
    font-size: 14px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .links-nr .bd li dd p {
    color: #eed097 !important;
    background: none !important;
  }
}
/低版本跳转样式/ .ie_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.9;
  filter: alpha(opacity=90);
  z-index: 99998;
}
.ie9tips {
  width: 600px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -300px;
  line-height: 1.8;
  color: #fff;
  z-index: 99999;
  text-align: center;
}
.ie9tips a {
  color: red;
}
.ie9tips img {
  display: block;
  margin: 0 auto;
  opactiy: 0.9;
  filter: alpha(opacity=90);
  max-width: 100%;
}
.ie9tips p {
  padding-top: 10px;
  color: #fff;
  width: 420px;
  margin: 10px auto;
  line-height: 1.8;
}

.w10 {
  width: 100%;
  margin: 0 auto;
}
.wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.head-box {
  background: #fff;
}
.head-box .wrap {
  position: relative;
  z-index: 2;
}
.head-box::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/top-bg.png) repeat-y top center;
  z-index: 1;
}
.head-r {
  margin-top: 0.75rem;
}
#header {
  z-index: 1000;
  padding: 1.25rem 0;
  background: #fff url(../images/top-bg02.png) no-repeat 60% bottom;
}
#header .logo {
  width: 35.5%;
  position: relative;
}
#header .logo a {
  display: block;
}
#header .logo img {
  width: 100%;
}
.head-r p {
  float: left;
  padding: 0.375rem 0.625rem;
  border: 1px solid #efefef;
  border-radius: 0.9375rem;
  margin-right: 1.875rem;
  transition: 0.6s all;
}
.head-r p a {
  color: #999999;
  font-size: 0.75rem;
  padding: 0 6px;
  transition: 0.6s all;
}
.head-r p:hover {
  background-image: -moz-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  background-image: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  background-image: -ms-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  transition: 0.6s all;
}
.head-r p:hover a {
  color: #fff;
  transition: 0.6s all;
}
.head-r .search {
  float: left;
  overflow: hidden;
  width: 200px;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 0.625rem;
}
.head-r .search .text {
  height: 1.25rem;
  line-height: 1.25rem;
  width: 180px;
  background: transparent;
  border: none;
  font-size: 0.75rem;
  color: #999;
}
.head-r .search .btn {
  width: 18px;
  height: 18px;
  float: right;
  cursor: pointer;
}
.animenu__toggle {
  display: none;
  cursor: pointer;
  background-image: -moz-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  background-image: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  background-image: -ms-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  border: 0;
  padding: 0.3rem;
  height: 2.5rem;
  width: 2.5rem;
}
.animenu_toggle.animenu_toggle--active {
  background-color: #d6b97f;
}
.animenu_toggle.animenutoggle--active .animenutoggle_bar {
  background: #fff;
}
.animenu_toggle_bar {
  display: block;
  width: 1.875rem;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
  -o-transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
  transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
}
.animenu_togglebar + .animenutoggle_bar {
  margin-top: 0.45rem;
}
.animenu_toggle--active .animenutoggle_bar {
  margin: 0;
  position: absolute;
}
.animenu_toggle--active .animenutoggle_bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.animenu_toggle--active .animenutoggle_bar:nth-child(2) {
  opacity: 0;
}
.animenu_toggle--active .animenutoggle_bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.animenu {
  background-image: -moz-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  background-image: -webkit-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
  background-image: -ms-linear-gradient(
    -180deg,
    rgb(42, 39, 167) 0%,
    rgb(130, 48, 142) 100%
  );
}
.animenu ul {
  padding: 0;
  list-style: none;
  text-align: left;
}
.animenu li,
.animenu a {
  display: inline-block;
  font-size: 1.125rem;
}
.animenu a {
  color: #fff;
  text-decoration: none;
}
.animenu__nav {
}
.animenu__nav > li {
  position: relative;
  font-family: 'times new roman';
  height: 3.125rem;
  width: 14%;
  text-align: center;
}
.animenu__nav > li > a {
  font-size: 1.125rem;
  line-height: 3.125rem;
  font-family: 'times new roman';
  color: #fff;
}
.animenu__nav > li > a {
}
.animenu__nav > li > a:first-child:nth-last-child(2):before {
  content: '';
  position: absolute;
  border: 4px solid transparent;
  border-bottom: 0;
  border-top-color: currentColor;
  top: 50%;
  margin-top: -2px;
  right: 10px;
  display: none;
}
.animenu__nav > li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0px 0 0;
}
.animenu__nav > li:hover > a {
  color: #d6b97f;
}
.animenu_nav_child {
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  margin: 10px 0 0 0;
  background-color: #550882;
  transition: margin 0.15s, opacity 0.15s;
}

.animenu_nav_child > li {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
.animenu_nav_child > li:first-child > a:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  margin-left: -6px;
  top: -6px;
  border: 6px solid transparent;
  border-top: 0;
  border-bottom-color: #550882;
}
.animenu_nav_child > li:last-child {
  border: 0;
}
.animenu_nav_child a {
  padding: 10px;
  width: 100%;
  border-color: #550882;
  font-size: 0.875rem;
}
.animenu_nav_child a:hover {
  border-color: #550882;
  color: #d6b97f;
}
.animenu__nav--open {
  display: block !important;
}
.animenu_nav--open .animenunav_child {
}
.animenu_nav_child > li dl {
  position: absolute;
  left: -100%;
  top: 0;
  background-color: #550882;
  width: 100%;
  display: none;
}
.animenu_nav_child > li:hover dl {
  display: block;
}
.animenu__nav > li > a.on {
  color: #d6b97f;
}
.head-box2 {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0px 1px 40px 0px rgba(35, 29, 39, 0.3);
}