.banner {
  margin-top: 0;
  background-image: url('https://i.postimg.cc/TPJbPMwY/1209458.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .banner {
    padding: 60px 0 300px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner {
    padding: 80px 0 400px 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .banner {
    padding: 100px 0 650px 0;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    padding: 100px 0 600px 0;
  }
}

@media (min-width: 1024px) {
  .banner {
    background-attachment: fixed;
  }
}
