.mu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
  @media (max-width: 700px) {
    .mu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }