.carsel {
  display: flex;
  flex-direction: row;
  padding-top:68px;
}

.part1 {
  width: 30%;

  position: relative;
  color: rgb(245, 244, 244);
}
.part1 img {
  display: block;
  width: 100%;
}
.img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(123, 23, 136, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gfg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  z-index: 1;
}

.gfg .gfgcard {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 36px;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.4);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
}

.gfg .gfgcard .content {
  padding: 40px;
  text-align: center;
}
.glasscard {
  background: rgba(142, 26, 217, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.contentyz h1 {
  border-bottom: 3px solid white;
  text-align: center;
}
.contentyz p {
  padding-top: 10px;
  padding: 5%;
  text-align: center;
}
.img_title {
  font-size: 1.5em;
  text-align: center;
}
.img_desc {
  font-size: 1.25em;
  margin-top: 0.25em;
  text-align: center;
}
.part2 {
  width: 70%;
}

.slide_img {
  object-fit: cover;
  height: 500px;
}
.slide_box {
  padding-top: 20px;
}
.row {
  background-repeat: initial;
  width: 100%;
}
.row img {
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 6rem;
}

@media screen and (max-width: 1200px) {
  .part1 {
    display: none;
  }
  .carsel{
    padding-top: 56px;
  }
  .part2 {
    width: 100%;
  }
}
 @media screen and (max-width: 800px){
  .carsel{
    padding-top: 0px;
    margin-top: -10px;
  }
 }
 @media screen and (max-width: 450px){
  .carsel{
    padding-top: 0px;
    margin-top: -31px;
  }
 }
 @media screen and (max-width: 400px){
  .carsel{
    padding-top: 0px;
    margin-top: -35px;
  }
 }
 @media screen and (max-width: 350px){
  .carsel{
    padding-top: 0px;
    margin-top: -39px;
  }
 }
