.placement-section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
}

.placement-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #337ab7;
}

.placement-description {
  border: 1px solid #a9c6e0;
  padding: 10px;
  margin-bottom: 20px;
}

.placement-description p {
  color: #555;
}

.rectangle-image {
  width: 100%;
  height: auto;

  margin-bottom: 20px;
}
.placed-image {
  width: 100%;
  height: auto;

  margin-bottom: 20px;
}

/* Style for the placement stats image */
.placement-stats {
  width:inherit;
  text-align: center;
  margin-bottom: 20px;
}

.placement-stats img {
  max-width: 100%;
  height: auto;
}

/* Style for the recruiters' section */
.recruiters-section {
  text-align: center;
}

/* Style for the recruiters heading */
.recruiters-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #337ab7;
}

/* Style for the recruiters' logos */
.recruiters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.recruiters img {
  width: 100px;
  height: auto;
  margin: 10px;
}
