@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 767px) {
  .Placements-text {
    color: white;
    font-size: 33px; 
    white-space: nowrap;
    margin-left: 2% ;
  }
}


.counter-up {
  background: url("https://i.postimg.cc/66gwrmwV/IMG-4333.jpg") no-repeat;
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.counter-up::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(39, 38, 38, 0.8);
  opacity: 75%;
}

.counter-up .content {
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.counter-up .content .box {
  border: 1px dashed rgba(255, 255, 255, 0.6);
  width: calc(25% - 30px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}

.content .box .icon {
  font-size: 48px;
  color: #e6e6e6;
}

.content .box .counter {
  font-size: 50px;
  font-weight: 500;
  color: #f2f2f2;
  font-family: sans-serif;
}

.content .box .text {
  font-weight: 400;
  color: #ccc;
}

@media screen and (max-width: 1036px) {
  .counter-up {
    padding: 50px 50px 0 50px;
  }

  .counter-up .content .box {
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 580px) {
  .counter-up .content .box {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 20px;
  }

  .counter-up {
    padding: 30px 20px 0 20px;
  }
}


.counter-upp {
  background: url("https://i.postimg.cc/Vk1yh5Ws/IMG-2585.jpg") no-repeat;
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.counter-upp::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(39, 38, 38, 0.8);
  opacity: 75%;
}

.counter-upp .content {
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.counter-upp .content .box {
  border: 1px dashed rgba(255, 255, 255, 0.6);
  width: calc(25% - 30px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}

.content .box .icon {
  font-size: 48px;
  color: #e6e6e6;
}

.content .box .counter {
  font-size: 50px;
  font-weight: 500;
  color: #f2f2f2;
  font-family: sans-serif;
}

.content .box .text {
  font-weight: 400;
  color: #ccc;
}

@media screen and (max-width: 1036px) {
  .counter-upp {
    padding: 50px 50px 0 50px;
  }

  .counter-upp .content .box {
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 580px) {
  .counter-upp .content .box {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 20px;
  }

  .counter-upp {
    padding: 30px 20px 0 20px;
  }
}


.placement-section {
  margin-top: 0px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
}

.placement-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #337ab7;
}

.placement-description {
 
  box-shadow: inset;
  border-radius: 4px;
  border: 1px solid #484848;
  padding: 20px;
  margin-bottom: 20px;
  background: rgb(255, 255, 255);
}

.placement-description p {
  color: rgb(46, 46, 46);
  margin-bottom: 10px;
}
.placement-details h2 {
  font-size: 30px;
  color: #337ab7;
  text-align: center;
}



.placement-trends h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #337ab7;
}

.subheading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}


.recruiters-section {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}



/* Responsive styles for tablets and larger screens */

@media (min-width: 768px) {
  .placement-section {
    margin-top: 0px;
  }

  .placement-section h2 {
    font-size: 30px;
  }

  .placement-description p {
    font-size: 18px;
  }

  .subheading {
    font-size: 24px;
  }

  .placement-stats img {
    max-width: 100%;
  }

  .second-heading {
    font-size: 30px;
  }

  .second-image {
    max-width: 100%;
  }

  .company-logos-carousel img {
    max-width: 150px;
  }
  
  .hire-section {
    margin-top: 0px;
  }

  .hire-section h2 {
    font-size: 30px;
  }

  .hire-description p {
    font-size: 18px;
  }

}


/* Responsive styles for phones and smaller screens */

@media (max-width: 767px) {
  .placement-section {
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .placement-section h2 {
    font-size: 20px;
  }

  .placement-description p {
    font-size: 14px;
  }

  .rectangle-image,
  .placed-image {
    margin-bottom: 10px;
  }

  .placement-trends h2 {
    font-size: 20px;
  }

  .subheading {
    font-size: 16px;
  }

  .placement-stats {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .placement-stats img {
    max-width: 80%;
  }

  .second-heading {
    font-size: 20px;
    margin-top: 10px;
  }

  .second-image {
    max-width: 80%;
    margin: 10px auto;
  }

  .company-logos-carousel img {
    max-width: 80px;
    margin: 5px;
  }
  .hire-section {
    margin-top: 0px;
  }

  .hire-section h2 {
    font-size: 30px;
  }

  .hire-description p {
    font-size: 18px;
  }
}
.bar1{
  padding-left: 20%;
  padding-right: 20%;
}
@media (max-width: 600px) {
  .bar1{
    padding: 0%;
  }
}

.recruiters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.recruiters img {
  width: 115px;
  height: auto;
  margin: 5px;
}
@media screen and (max-width: 1036px) {
  .recruiters img {
    width: 50px;
  height: auto;
  margin: 5px;
  }
}
@media (max-width: 768px) {
  .recruiters img {
    width: 75px;
    height: auto;
    margin: 5px;
  }
}


.hire-section {
  margin-top: 0px;
  padding: 20px;
 
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
}
.hire-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #337ab7;
}
.hire-description {
 
  box-shadow: inset;
  border-radius: 4px;
  border: 1px solid #484848;
  padding: 20px;
 
  background: rgb(255, 255, 255);
}
.hire-description p {
  color: rgb(46, 46, 46);
  margin-bottom: 0px;
}