@keyframes load-loop {
  0% {
    background-position: 100%;
  }

  40% {
    background-position: 50%;
  }

  50% {
    background-position: 50%; 
  }

  90% {
    background-position: 0%;
  }

  100% {
    background-position: 0%;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(214, 0, 0, 0.8);
  border-radius: 4px;
  letter-spacing: 3px; 
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  font-size: 2em;
  color: transparent;
  background: linear-gradient(to right,rgb(233, 3, 3) 33.3%,#180084 33.3%,
   #0028db 66.6%, rgb(119, 0, 0) 66.6%) no-repeat;
  background-size: 300%;
  background-position: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: infinite 1.5s load-loop ease;
}

.loader::after {
  content: ''; 
  width: 100%; 
  height: 100%;
  position: absolute;
  display: block;
  background: linear-gradient(to right,#0429d1 33.3%, transparent 33.3% , transparent 66.6%, #2000d3 66.6%) no-repeat;
  background-size: 300%;
  background-position: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  animation: infinite 1.5s load-loop ease;
} 

  
.nitr-page-title-wrap {
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.nitr-page-title-wrap .nitr-page-title-bottom-gradient {
  height: 413px;
}
.nitr-left-align {
  text-align: left;
}
.nitr-page-title-wrap .nitr-page-title-bottom-gradient {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.nitr-container {
  padding-left: 20px;
  padding-right: 20px;
}

.nitr-page-title-wrap .nitr-page-title-container {
  position: relative;
}

.nitr-page-title-wrap .nitr-page-title-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.nitr-page-title-wrap .nitr-page-title-bottom-gradient {
  position: relative;
  z-index: 2;
}

.green-line-text {
  position: absolute;
  bottom: -80px;
  left: 39px;
  color: white;
  font-size: 50px;
  font-weight: 1000;
  padding: 10px;
  z-index: 3;
}

.green {
  border-bottom: 100px solid rgba(42, 39, 167, 0.4);
  border-right: 100px solid transparent;
  z-index: 1;
}
