.anu h3 {
  display: inline-block;
  padding: 0;
  margin-bottom: -25px;
  margin-left: 40%;
}
.caro {
  height: 450px;
}
.page-container .carousel {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  perspective: 1000px;
}
.carousel {
  height: auto;
  width: auto;
  background-color: black;
  display: flex;
  flex-direction: row;
  max-width: max-content;
}
.page-container .card-container {
  height: 350px;
  margin: 0;
  padding: 0;
  top: 2px;
  width: 330px;
  position: relative;
  transform-style: preserve-3d;
  box-sizing: border-box;
}
.page-container {
  padding: 15px;
}
.cardeve {
  width: 70%;
  padding: 25px;
}
.caro {
  width: 100%;
  display: flex;
}
.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 500) {
  .cardeve {
    width: 100%;
    padding: 0;
  }
  .front {
    width: 100%;
  }
}
.page-container .card-container.flipped .front {
  transform: rotateY(180deg);
}
.page-container .card-container.flipped .back {
  transform: rotateY(0deg);
}
.page-container .card-container .front,
body #root .page-container .card-container .back {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: block;
  background: #f8f6ea;
  box-shadow: 10px 10px 5px #5f4d63;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
}
.page-container .card-container .front {
  z-index: 2;
  transform: rotateY(0deg);
  /* front tile styles go here! */
}
.page-container .card-container .back {
  background: #f8f6ea;
  transform: rotateY(-180deg);
  padding: 20px;
  font-size: 20px;
  /* back tile styles go here! */
}
.page-container .card-container .image-container {
  position: relative;
}
.page-container .card-container .image-container .card-image {
  width: 100%;
  border-radius: 10px;
}
.page-container .card-container .image-container .title {
  font-size: 34px;
  position: absolute;
  margin-bottom: 10px;
  margin-left: 10px;
  bottom: 0;
  left: 0;
  color: #f8f6ea;
}
.page-container .card-container .main-area {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
.page-container .card-container .main-area .blog-post {
  height: 100%;
}
.page-container .card-container .main-area .blog-post .date {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}
.page-container .card-container .main-area .blog-post .read-more {
  font-size: 20px;
  position: relative;
  bottom: 0px;
  text-align: right;
}
.page-container .card-container .main-area .blog-post .blog-content {
  height: 90%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: wrap;
  /* overflow: hidden;
    text-overflow: ellipsis; */
}

@media (max-width: 700px) {
}
